:root {
    --color-primary: #ffffff;
    --color-secondry: #d3d3d3;
    --color-accent: #000;
    --color-heading: #000;
    --color-body: #000;
}

html {
    font-size: 62.5%;
}

/* TODO: Change the body font-size */

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--color-heading);
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

/* Buttons */

.btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 10px;
    background: var(--color-accent);
    color: #ffffff;
}

/* Grids */

.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Hero */

.hero {
    text-align: center;
    margin-bottom: 5rem;
}

.hero .logo {
    width: 37px;
    height: 35px;
    border-radius: 80px;
    margin-top: 4.6rem;
}

.hero-img {
    width: 308px;
    height: 113px;
    border-radius: 20px;
}

.hero-heading {
    margin-top: 4rem;
    margin-bottom: 3.5rem;
}

.hero-text {
    margin-top: 3rem;
}

.hero .btn {
    width: 90px;
    height: 38px;
    padding: 1rem 1rem;
    font-size: 1rem;
    margin-top: 1rem;
}

@media screen and (min-width: 768px) {
    
    .hero {
        margin-bottom: 7rem;
    }

    .hero-img {
        width: 648px;
        height: 250px;
        margin: 5rem 0 5rem 0;
    }

    .hero-heading {
        font-size: 3.4rem;
        margin-top: 10rem;
        margin-bottom: 1rem;
    }

    .hero .logo {
        width: 80px;
        height: 80px;
        margin-top: 9rem;
    }

    .hero-text {
        font-size: 1.8rem;
    }

    .hero .btn {
        width: 135px;
        height: 55px;
        padding: 0 0;
        font-size: 1.5rem;
        border-radius: 13px;
    }
}

@media screen and (min-width: 1024px) {
    .hero-img {
        width: 800px;
        height: 320px;
    }

    .hero-heading {
        font-size: 3.9rem;
        margin-top: 12rem;
        margin-bottom: 2.5rem;
    }
    
    .hero .logo {
        width: 95px;
        height: 95px;
    }
    
    
    .hero-text {
        font-size: 1.9rem;
    }

    .hero .btn {
        width: 140px;
        height: 57px;
        padding: 0 0;
        font-size: 1.4rem;
        border-radius: 15px;
    }
    
    
}

@media screen and (min-width: 1355px) {
   
    .hero {
        margin-bottom: 13rem;
    }
   
    .hero-img {
        width: 1000px;
        height: 400px;
    }

    .hero-heading {
        font-size: 4.4rem;
    }
    
    .hero .logo {
        width: 110px;
        height: 110px;
        margin-top: 12rem;
    }
    
    
    .hero-text {
       font-size: 2.1rem;
    }
    
    .hero .btn {
        width: 165px;
        height: 67px;
        padding: 0 0;
        font-size: 1.6rem;
        border-radius: 16px;
    }
}

/* Features */

.features {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    background-color: #d3d3d3;
    align-items: center;
    min-width: 31.9rem;
    margin-bottom: 3rem;
}

.item{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

.item__image {
    width: 153px;
    height: 123px;
}

.SCP-heading {
    margin: 0;
    font-size: 1.2em;
    text-align: center;
}

.item .p {
    margin: 0;
    font-size: 0.9em;
}

.item:nth-child(2) {
    flex-direction: row;
}

.text-tablet {
    display: none;
}

@media screen and (min-width: 768px) {
    
    .item {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 0 auto 30px auto;
    }

    .item__image {
        width: 500px;
        height: 230px;
        margin-top: 27px;
        border-radius: 10px;
    }
    
    .item:nth-child(2) {
        flex-direction: column;
    }

    .SCP-heading {
        font-size: 2.1rem;
        margin-bottom: 35px;
    }

    .MOTO-text {
        display: none;
    }

    .text-tablet {
        display: block;
        font-size: 1.2rem;
    }

}

@media screen and (min-width: 1024px) {
    
    .item {
        flex-direction: row-reverse;
        width: 850px;
        align-items: center;
    }
    
    .item__image {
        width: 900px;
        height: 300px;
        margin-top: 20px;
        border-radius: 13px;
        padding: 0 80px 0 0;
    }
    
    .item:nth-child(2) {
        flex-direction: row;
    }

    .reverse__image {
        padding: 0 0 0 50px;
    }

    .text-tablet {
        font-size: 1.5rem;
        padding-top: 40px;
    }

    .SCP-heading {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1355px) {
        
        .item {
            width: 1200px;
        }

        .item__image {
            width: 2500px;
            height: 290px; 
            margin-top: 35px;
            border-radius: 19px;
            padding: 0 80px 0 0;
        }

        .reverse__image {
            padding: 0 0 0 60px;
        }
        
        .text-tablet {
            font-size: 1.7rem;
            padding-top: 46px;
        }
        
        .SCP-heading {
            margin-top: 20px;
        }
}

/* FAQ */

/* TODO: Change the background color of .faq-answer line:385 */  

.FAQ {
    padding: 10px;
}

.FAQ-heading {
    text-align: center;
    margin-bottom: 3.7rem;
}

.FAQ-subheading {
    text-align: center;
    margin-bottom: 3.7rem;
}

.faq-container {
    width: 80%;
    margin: auto;
    background-color: #E0DCDC;
    border-radius: 20px;
    margin-bottom: 4rem;
}

.faq-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.faq-question {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    margin: 0;
    /* Remove default margin from <p> */
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #E0DCDC;
    font-size: 1rem
}

.plus {
    margin-right: 10px;
    /* Add space between icon and text */
}

@media (max-width: 600px) {
    .faq-container {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    
    .FAQ {
        margin: 3.7rem 0;
    }

    .FAQ-heading {
        font-size: 1.9rem;
    }

    .FAQ-subheading {
        font-size: 1.6rem;
        margin-bottom: 5rem;
        margin-top: 4rem;
    }

    .faq-question {
        font-size: 1.6rem;
    }

    .faq-answer {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1355px) {
    
    .FAQ {
        margin: 5rem 0;
    }

    .FAQ-heading {
        font-size: 1.8rem;
    }

    .FAQ-subheading {
        font-size: 1.6rem;
        margin-top: 5.6rem;
        margin-bottom: 7.2rem;
    }

    .faq-question {
        font-size: 1.8rem;
        padding: 1.3rem;
    }

    .faq-answer {
        font-size: 1.4rem;
    }
}

/* Nav Bar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 10px 0 10px;
    color: white;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 9px;
}

.navbar .nav-links {
    display: flex;
    gap: 25px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
} /* TODO: Make this a dropdown menu */

@media screen and (min-width: 768px) {
    
    .navbar {
        padding: 5px 1.5rem 3px 2.5rem;
    }

    .navbar .logo {
        font-size: 1.7rem;
        margin: 2rem 0;
    }

    .navbar .nav-links a {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1355px) {
    
    .navbar {
        padding: 1rem 1.5rem 1rem 2.5rem;
    }

    .navbar .logo {
        font-size: 1.7rem;
    }

    .navbar .nav-links a {
        font-size: 1.5rem;
    }
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 10px 10px 10px;
    color: white;
}

.footer .logo {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 16px 0 16px;
}

.footer .nav-links {
    display: flex;
    gap: 25px;
    padding-right: 5px;
}

.footer .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

@media screen and (min-width: 768px) {
    
    .footer {
        padding: 3rem 1.5rem 1.2rem 3rem;
        text-align: center;
    }

    .footer .logo {
        font-size: 1.8rem;
        padding-bottom: 1.2rem;
    }

    .footer .nav-links a {
        font-size: 1.7rem;
        padding-bottom: 1.2rem;
    }

    .footer .nav-links {
        gap: 3rem;
    }
}

@media screen and (min-width: 1355px) {
    
    .footer {
        padding: 1.7rem 1.9rem 1.7rem 2.8rem;
    }

    .footer .nav-links a {
        font-size: 1.3rem;
        padding-bottom: 0;
    }

    .footer .logo {
        font-size: 1.4rem;
        padding-bottom: 0;
    }
    
    .footer .nav-links {
        gap: 3.2rem;
    }
}