:root {
    --color-primary: #ffffff;
    --color-secondry: #d3d3d3;
    --color-accent: #000;
    --color-heading: #000;
    --color-body: #000;
}

html {
    font-size: 62.5%;
}

/* TODO: Change the body font-size */

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--color-heading);
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

/* Buttons */

.btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 8px;
    background: var(--color-accent);
    color: #ffffff;
}

/* Grids */

.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Hero */

.hero {
    text-align: center;
}

.logo {
    width: 37px;
    height: 35px;
    border-radius: 80px;
    margin-top: 30px;
}

.hero-img {
    width: 308px;
    height: 113px;
}

.hero-heading {
    margin-top: 40px;
    margin-bottom: 30px;
}

.hero-text {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Features */

.features {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #d3d3d3;
    max-width: 300px;
    align-items: center;
    justify-content: center;
}

.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;        
    border-radius: 5px;
    width: 300px;
}

.item > img {
    width: 153px;
    height: 123px;
    object-fit: cover;
}

.MOTO-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.SCP-heading {
    margin: 0;
    font-size: 1.2em;
    text-align: center;
}

.item .p {
    margin: 0;
    font-size: 0.9em;
}

.item:nth-child(2) {
    flex-direction: row-reverse;
}

/* FAQ */

.FAQ {
    padding: 10px;
}

.FAQ-heading {
    text-align: center;
    margin-bottom: 30px;
}

.FAQ-subheading {
    text-align: center;
    margin-bottom: 30px;
}

.faq-container {
    width: 80%;
    margin: auto;
    background-color: #E0DCDC;
    border-radius: 20px;
}

.faq-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.faq-question {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    margin: 0;
    /* Remove default margin from <p> */
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #E0DCDC;
}

.plus {
    margin-right: 10px;
    /* Add space between icon and text */
}

@media (max-width: 600px) {
    .faq-container {
        width: 100%;
    }
}

/* Nav Bar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 10px 0 10px;
    color: white;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 13px;
}

.navbar .nav-links {
    display: flex;
    gap: 25px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
} /* TODO: Make this a dropdown menu */