<section class="features">
    <div class="item">
        <img src="images/Secure Mobile.png" alt="SCP member Securing Target">
        <article>
            <h3 class="SCP-heading">Secure</h3>
            <p class="MOTO-text">Lorem ipsum dolor sit amet,
                consectetur adipisicing elit.
                Eligendi non quisexplicabo
                reprehenderit optio
                amet ab temporibus asperiore</p>
        </article>
    </div>
    <div class="item">
        <img src="images/Contain Mobile.png" alt="SCP member Securing Target">
        <article>
            <h3 class="SCP-heading">Contain</h3>
            <p class="MOTO-text">Lorem ipsum dolor sit amet,
                consectetur adipisicing elit.
                Eligendi non quisexplicabo
                reprehenderit optio
                amet ab temporibus asperiore</p>
        </article>
    </div>
    <div class="item">
        <img src="images/Protect Mobile.png" alt="SCP member Securing Target">
        <article>
            <h3 class="SCP-heading">Protect</h3>
            <p class="MOTO-text">Lorem ipsum dolor sit amet,
                consectetur adipisicing elit.
                Eligendi non quisexplicabo
                reprehenderit optio
                amet ab temporibus asperiore</p>
        </article>
    </div>
</section>