<section class="hero">
    <img class="logo" src="images/nine tailed fox mobile.jpg" alt="Logo of MTF Epsilon 11">
    <h1 class="hero-heading">Pyotr Bagration Company</h1>
    <div class="container">
        <img class="hero-img" src="images/High QualityMTF Epsilon 11.png" alt="">
    </div>
    <article>
        <p class="hero-text">Mobile Task Force Unit Epsilon-11: Nine-Tailed Fox
            <br> Our Moto is 3 Fold
        </p>
        <button class="btn">Get Started</button>
    </article>
</section>